.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

docs
OutputSimulated/2025-07-13_BycatchSetupSpecification.rds
OutputSimulated/Simltdspcscatch/Setup files/SimltdspcscatchDataSummary.csv
OutputSimulated/Simltdspcscatch/Setup files/SimltdspcscatchStrataSummary.csv
OutputSimulated/Simltdspcscatch/SimltdspcscatchDataChecks.html
/vignettes/OutputLLSIMBUM
/vignettes/OutputLLSIMBUMCP
/vignettes/OutputLLSIMBUMM1
/vignettes/OutputLLSIMBUMSt
/OutputLLSIMBUMtE
